<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'App/css_js/add_input_box.js' %}"></script>
    <title>Input-Detail</title>


    <style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  background-color: #f2f2f2;
<!--  width:70%;-->
  padding: 20px;
}

.col-25 {
  float: left;
  width: 15%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 60%;
  margin-top: 6px;
}
form label {
    font-weight:bold;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>

</head>
<body>
<div class="container" >
        <div class="row" style="margin-left: 10%;">
            <div class="col-25"><label  for="name">Name</label></div>
            <div class="col-75"><input type="text"  name="name" placeholder="Your name.."></div>
        </div>
        <div class="row" style="margin-left: 10%;">
            <div class="col-25"><label for="address">Address</label></div>
            <div class="col-75"><input type="text"  name="address" placeholder="Your address.."></div>
        </div>

<!--            <div> Address : <input type="text" name="address"></div>-->
        <div class="row" style="margin-left: 10%;">
            <div class="col-25"><label for="phone">Phone</label></div>
            <div class="col-75"><input type="text"  name="phone" placeholder="Your Phone No. .."></div>
        </div>
<!--            <div> Phone : <input type="text" name="phone"></div>-->
        <div class="row" style="margin-left: 10%;">
            <div class="col-25"><label for="email">Email</label></div>
            <div class="col-75"><input type="text"  name="email" placeholder="Your Email Id. .."></div>
        </div>
<!--            <div> Email : <input type="text" name="email"></div>-->
        <div class="row" style="margin-left: 10%;">
            <div class="col-25"><label for="objective">Objective</label></div>
            <div class="col-75"><input type="text"  name="objective" placeholder="Your Objectives.."></div>
        </div>
<!--            <div> Objective : <input type="text" name="objective"></div>-->

            <div class="qualification_filed_wrap">

                <div style="text-align: center; background-color: hsla(290,60%,70%,0.3);"> <label for="Qualifications"> Qualifications : </label>  <button class="qualification_field_button">Add More Fields</button></div>
                    <div>
                        <div class="row" style="margin-left: 10%;">
                            <div class="col-25"><label for="sprogram" >Study program</label></div>
                            <div class="col-75"><input type="text"  name="sprogram[]" placeholder="secondary/senior secondary/ ug/pg"></div>
                        </div>
<!--                        Study program <input placeholder="secondary/senior secondary/ ug/pg" type="text" name="sprogram[]">-->

                        <div class="row" style="margin-left: 10%;">
                            <div class="col-25"><label for="cname" >College name</label></div>
                            <div class="col-75"><input type="text"  name="cname[]" placeholder=""></div>
                        </div>
<!--                        College name : <input type="text" name="cname[]">-->
                        <div class="row" style="margin-left: 10%; padding-bottom: 2%;">
                            <div class="col-25"><label for="stream" >Stream</label></div>
                            <div style="float: left; width: 22.5%; margin-top: 6px;"><input type="text"  name="stream[]" placeholder=""></div>
                            <div class="col-25"><label for="percent" style="margin-left: 5%;">Percentage/CGPA</label></div>
                            <div style="float: left; width: 22.5%; margin-top: 6px;"><input type="text"  name="percent[]" placeholder=""></div>
                        </div>

<!--                        Stream : <input type="text" name="stream[]">-->
<!--                        Percentage/CGPA : <input type="text", name="percent[]">-->
                    </div>
            </div>

            <div class="project_filed_wrap" >
                <div style="text-align: center; background-color: hsla(290,60%,70%,0.3);"><label style="margin-left: 10%;" for="Projects">Projects : </label><button class="project_filed_button">Add More Fields</button></div>
                    <div>
                        <div class="row" style="margin-left: 10%;">
                            <div class="col-25"><label for="projectname">Project name</label></div>
                            <div class="col-75"><input type="text"  name="projectname[]" placeholder=""></div>
                        </div>
                        <div class="row" style="margin-left: 10%; padding-bottom: 2%;">
                            <div class="col-25"><label for="pdisc">Project discription</label></div>
                            <div class="col-75"><input type="text"  name="pdisc[]" placeholder=""></div>
                        </div>
                    </div>
            </div>

            <div class="area_of_intrest_filed_wrap" >
                <div style="text-align: center; background-color: hsla(290,60%,70%,0.3);"> <label style="margin-left: 10%;" for="Intrest">Area Of Intrest : </label><button class="area_of_intrest_filed_button">Add More Fields</button></div>
                    <div>
                        <div class="row" style="margin-left: 10%; padding-bottom: 2%;">
                            <div class="col-25"><label for="intrest">Intrest</label></div>
                            <div class="col-75"><input type="text"  name="intrest[]" placeholder=""></div>
                        </div>
<!--                        Intrest : <input type="text" name="intrest[]">-->
                    </div>
            </div>

            <div class="technical_skill_filed_wrap" >
                <div style="text-align: center; background-color: hsla(290,60%,70%,0.3);"><label style="margin-left: 10%;" for="techskill">Technical Skill : </label><button class="technical_skill_filed_button">Add More Fields</button></div>
                    <div>
                        <div class="row" style="margin-left: 10%;">
                            <div class="col-25"><label for="filed">Field</label></div>
                            <div class="col-75"><input type="text"  name="filed[]" placeholder=""></div>
                        </div>
<!--                        Field : <input type="text" name="filed[]">-->
                        <div class="row" style="margin-left: 10%; padding-bottom: 2%;">
                            <div class="col-25"><label for="skill">Skill</label></div>
                            <div class="col-75"><input type="text"  name="skill[]" placeholder=""></div>
                        </div>
<!--                        Skill : <input type="text" name="skill[]">-->
                    </div>
            </div>

            <div class="academic_achievements_filed_wrap" >
                <div style="text-align: center; background-color: hsla(290,60%,70%,0.3);"><label style="margin-left: 10%;" for="acdachv">Academic Achievements : </label><button class="academic_achievements_filed_button">Add More Fields</button></div>
                    <div>
                        <div class="row" style="margin-left: 10%; padding-bottom: 2%;">
                            <div class="col-25"><label for="acdachv">Achivement</label></div>
                            <div class="col-75"><input type="text"  name="acdachv[]" placeholder=""></div>
                        </div>
<!--                        Achivement : <input type="text" name="acdachv[]">-->
                    </div>
            </div>
            <div class="extracurricular_activities_filed_wrap" >
                <div style="text-align: center; background-color: hsla(290,60%,70%,0.3);"><label style="margin-left: 10%;" for="extraact">Extracurricular Activities : </label><button class="extracurricular_activities_filed_button">Add More Fields</button></div>
                    <div>
                        <div class="row" style="margin-left: 10%; padding-bottom: 2%;">
                            <div class="col-25"><label for="extact">Activity</label></div>
                            <div class="col-75"><input type="text"  name="extact[]" placeholder=""></div>
                        </div>
<!--                        Activity : <input type="text" name="extact[]">-->
                    </div>
            </div>
</div>

</body>
</html>
